
<div class="menu">
    <div class="menucss">
        <div class="logo">
            <a href="">
                <img src="..//../assets/img/playstation-store-logo.png" alt="logo playstation store">
            </a>
        </div>
        <div class="links">
            <a href="https://youtube.com" target="_blank"><p>
                YOUTUBE
            </p></a>
            <a href="https://www.linkedin.com/in/pitagorasgm/" target="_blank"><p>
                LINKEDIN
            </p></a>
            <a href="https://github.com/juniorpgm34" target="_blank"><p>
                GITHUB
            </p></a>
        </div>
    </div>
</div>

